@tailwind base;
@tailwind components;
@tailwind utilities;

:root  {
  --background: 227 100% 95%;
  --foreground: 227 5% 0%;
  --card: 227 50% 90%;
  --card-foreground: 227 5% 10%;
  --popover: 227 100% 95%;
  --popover-foreground: 227 100% 0%;
  --primary: 227 96% 22%;
  --primary-foreground: 0 0% 100%;
  --secondary: 227 30% 70%;
  --secondary-foreground: 0 0% 0%;
  --muted: 189 30% 85%;
  --muted-foreground: 227 5% 35%;
  --accent: 189 30% 80%;
  --accent-foreground: 227 5% 10%;
  --destructive: 0 100% 30%;
  --destructive-foreground: 227 5% 90%;
  --border: 227 30% 50%;
  --input: 227 30% 18%;
  --ring: 227 96% 22%;
  --radius: 0.5rem;
}
.dark  {
  --background: 227 50% 5%;
  --foreground: 227 5% 90%;
  --card: 227 50% 0%;
  --card-foreground: 227 5% 90%;
  --popover: 227 50% 5%;
  --popover-foreground: 227 5% 90%;
  --primary: 227 96% 22%;
  --primary-foreground: 0 0% 100%;
  --secondary: 227 30% 10%;
  --secondary-foreground: 0 0% 100%;
  --muted: 189 30% 15%;
  --muted-foreground: 227 5% 60%;
  --accent: 189 30% 15%;
  --accent-foreground: 227 5% 90%;
  --destructive: 0 100% 30%;
  --destructive-foreground: 227 5% 90%;
  --border: 227 30% 18%;
  --input: 227 30% 18%;
  --ring: 227 96% 22%;
  --radius: 0.5rem;
}



  @layer base {
    * {
      @apply border-border;
    }
    body {
      @apply bg-background text-foreground;
    }
  }